In [73]:
from sqlalchemy import create_engine, text
import os
import pandas as pd
from modules import check_dfs

assert os.path.exists("../backend/.env"), "Please create a .env file in the backend directory."

df_stats = pd.read_csv("player_game_stats-full-fixed.csv")
df_games = pd.read_csv("games-full.csv")
df_players = pd.read_csv("players-full.csv")
df_teams = pd.read_csv("teams-full.csv")

with open("../backend/.env", "r") as f:
    password = f.readlines()[0].strip()

DATABASE_URL = f"postgresql://rgutkeecsoraclearenaadmin:{password}@rg-utk-eecs-oracle-arena-postgresql-db.postgres.database.azure.com:5432/postgres"

engine = create_engine(DATABASE_URL)

In [ ]:
#Remove duplicate rows from df_stats, df_games, df_players, and df_teams

df_stats = df_stats.drop_duplicates()
df_games = df_games.drop_duplicates()
df_players = df_players.drop_duplicates()
df_teams = df_teams.drop_duplicates()

#Dropped duplicates

In [ ]:
#Rename player_first_name and player_last_name to first_name and last_name
df_players = df_players.rename(columns={"player_first_name": "first_name", "player_last_name": "last_name"})

In [76]:
#Check the validity of the df's
assert check_dfs([df_stats, df_games, df_players, df_teams]), "DataFrames have null values"
assert df_stats.player_id.nunique() == df_players.player_id.nunique(), "Player IDs do not match between stats and players dataframes."
assert df_stats.team_id.nunique() == df_teams.team_id.nunique(), "Team IDs do not match between stats and teams dataframes."
assert df_stats.game_id.nunique() == df_games.game_id.nunique(), "Game IDs do not match between stats and games dataframes."

print("All assertions passed. Data integrity check successful.")

All assertions passed. Data integrity check successful.

In [85]:
#Add the 00's to the game id

df_games = df_games.astype({"game_id": str})
df_stats = df_stats.astype({"game_id": str})
df_games["game_id"] = df_games["game_id"].apply(lambda x: f"00{x}" if len(x) == 2 else x)
df_stats["game_id"] = df_stats["game_id"].apply(lambda x: f"00{x}" if len(x) == 2 else x)
df_games.head()

    game_id season_year   game_date  home_team_id  away_team_id
0  21800001     2018-19  2018-10-16    1610612738    1610612755
1  21800002     2018-19  2018-10-16    1610612744    1610612760
2  21800003     2018-19  2018-10-17    1610612766    1610612749
3  21800004     2018-19  2018-10-17    1610612765    1610612751
4  21800005     2018-19  2018-10-17    1610612754    1610612763

In [ ]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname = 'public'"))
    tables = result.fetchall()

    for table in tables:
        table_name = table[0]

        if table_name in ["player_game_stats", "games", "players", "teams"]:
            print(table_name)
            #Print all the columns in the table
            result = connection.execute(text(f"SELECT column_name FROM information_schema.columns WHERE table_name = '{table_name}'"))
            print(result.fetchall())

games
[('game_id',), ('game_date',), ('home_team_id',), ('away_team_id',), ('season_year',)]
teams
[('team_id',), ('season_year',), ('team_location',), ('team_name',), ('team_abbreviation',), ('team_photo_url',)]
playergamestats
[('game_id',), ('player_id',), ('team_id',), ('player_game_stats',), ('season_year',)]
players
[('player_id',), ('first_name',), ('last_name',), ('player_photo_url',)]

In [ ]:
#Drop columns home_team_season and away_team_season from the games table

with engine.connect() as connection:
    with connection.begin():
        connection.execute(text("ALTER TABLE games DROP COLUMN IF EXISTS home_team_season"))
        connection.execute(text("ALTER TABLE games DROP COLUMN IF EXISTS away_team_season"))

In [ ]:
df_games.to_sql("games", con=engine, if_exists="append", index=False)
df_players.to_sql("players", con=engine, if_exists="append", index=False)
df_teams.to_sql("teams", con=engine, if_exists="append", index=False)

243

In [ ]:
df_stats.to_sql("player_game_stats", con=engine, if_exists="replace", index=False)

479